<!DOCTYPE html>
<html>

<head>
    <title>Dashboard de Datos</title>
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Incluir FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <!-- Menú lateral -->
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <br>
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <!-- Imagen del logo -->
                        <img src="{{ url_for('static', filename='img/sennova.png') }}" alt="Logo" height="60px"
                            class="logo">
                    </a>
                    <br><br>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <!-- Elementos del menú -->
                        <li class="nav-item">
                            <a href="/dashboard" class="nav-link align-middle px-0">
                                <i class="fas fa-home"></i> <span class="ms-1 d-none d-sm-inline">Inicio</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/dashboard" class="nav-link align-middle px-0">
                                <i class="fas fa-tachometer-alt"></i> <span
                                    class="ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>

                        <!-- Menú desplegable de Documentación -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle align-middle px-0" href="#" id="navbarDropdownMenuLink"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-book"></i> <span class="ms-1 d-none d-sm-inline">Documentación</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="https://public-files-hebermudezg.s3.amazonaws.com/Manual+de+usuario.pdf" target="_blank"><i
                                            class="fas fa-file-alt"></i> Manual de ususario</a></li>
                                <li><a class="dropdown-item" href="https://public-files-hebermudezg.s3.amazonaws.com/Entregable_5+Informe+de+modelos.pdf" target="_blank"><i
                                            class="fas fa-file-alt"></i> Informe del modelo de ML</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="/alerts" class="nav-link align-middle px-0">
                                <i class="fas fa-bell"></i> <span class="ms-1 d-none d-sm-inline">Alertas</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link align-middle px-0">
                                <i class="fas fa-sign-out-alt"></i> <span class="ms-1 d-none d-sm-inline">Salir</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>



            <!-- Contenido principal de tu Dashboard -->
            <div class="col py-3">
                <h1 class="my-4 text-center">Dashboard de Datos</h1>
                <p style="text-align: justify;">
                    Bienvenido al Dashboard para el Manejo de Alertas en Salud. Este espacio está dedicado a
                    proporcionar análisis gráficos detallados y perspectivas valiosas sobre diversos aspectos
                    relacionados con la salud y el bienestar. Aquí, encontrarás una serie de visualizaciones que te
                    permitirán explorar y comprender mejor las dinámicas de importantes indicadores de salud, como la
                    distribución de edad, la presión arterial, el índice de masa corporal, entre otros.
                </p>


                <!-- Controles de filtro con estilos de Bootstrap -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="gender-filter">Género:</label>
                        <select id="gender-filter" class="form-control">
                            <option value="">Todos</option>
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="smoking-filter">Tabaquismo:</label>
                        <select id="smoking-filter" class="form-control">
                            <option value="">Todos</option>
                            <option value="Si">Sí</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>

                <div class="text-center mb-4">
                    <button onclick="updatePlots()" class="btn btn-primary">Actualizar Gráficos</button>
                </div>

                <!-- Contenedores para gráficos existentes -->
                <div class="row">
                    <div class="col-md-6">
                        <div id="age-distribution-plot" class="mb-4"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="bmi-gender-plot" class="mb-4"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div id="blood-pressure-plot" class="mb-4"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="smoking-prevalence-plot" class="mb-4"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div id="age_gender_distribution_plot" class="mb-4"></div>
                    </div>
                </div>

                <!-- Contenedores para los nuevos gráficos -->
                <div class="row">
                    <div class="col-md-6">
                        <div id="bp-comparison-plot" class="mb-4"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="bmi-comparison-plot" class="mb-4"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div id="age-waist-plot" class="mb-4"></div>
                    </div>
                </div>
                <!-- Contenedores para los nuevos gráficos -->
                <div class="row">
                    <div class="col-md-6">
                        <div id="age_distribution_by_disease_plot" class="mb-4"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="bp_by_disease_plot" class="mb-4"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div id="bmi_vs_disease_plot" class="mb-4"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="smoking_prevalence_by_disease_plot" class="mb-4"></div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <script>
        function getPlot(plotType, plotDivId) {
            var gender = $('#gender-filter').val();
            var smoking = $('#smoking-filter').val();

            $.ajax({
                url: '/get-plot/' + plotType,
                data: { 'gender': gender, 'smoking': smoking },
                success: function (plotJson) {
                    var plotData = JSON.parse(plotJson);
                    Plotly.newPlot(plotDivId, plotData.data, plotData.layout);
                }
            });
        }

        function updatePlots() {
            getPlot('age_distribution', 'age-distribution-plot');
            getPlot('bmi_gender', 'bmi-gender-plot');
            getPlot('blood_pressure', 'blood-pressure-plot');
            getPlot('smoking_prevalence', 'smoking-prevalence-plot');
            getPlot('age_gender_distribution', 'age_gender_distribution_plot');
            getPlot('age_distribution_by_disease', 'age_distribution_by_disease_plot');
            getPlot('bp_by_disease', 'bp_by_disease_plot');
            getPlot('bmi_vs_disease', 'bmi_vs_disease_plot');
            getPlot('smoking_prevalence_by_disease', 'smoking_prevalence_by_disease_plot');
        }


        // Inicializar gráficos al cargar la página
        $(document).ready(function () {
            updatePlots();
        });
    </script>
</body>

</html>